// Navigation code here
.top{
    width:100%;
    background:@nav-bg;
    border:1px solid @nav-border;
    position: fixed;
    top:0;
    .navbar{
        max-width:800px;
        margin: 0 auto; 
        .title{
            width:100%;
            border: 1px red solid;
        }
        nav{
            border: 1px red solid;
            a{
                text-decoration: none;
                font-size: 1.6rem;
                color:@nav-font;
            }
        }
    }

}